
body {
  margin: 0;
}

.nav {
background: #F8F8F8;
min-height: 10px;
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.title {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 400;
color: #075e24;
font-size: 3rem;
font-weight: 600;
margin: 1em;
}

.link {
text-decoration: none;
text-transform: uppercase;
color: #717171;
font-weight: 800;
font-family: 'Ubuntu', sans-serif;
font-size: 1.25rem;
margin: 0.75em;
text-decoration: none;

}

.links {
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 60%;
margin: 1em;
justify-content: space-between;
align-items: center;
text-decoration: none;
}

@media (min-width: 1000px) {
.nav {
   flex-direction: row;
   justify-content: space-between;
} 

.links {
   flex-direction: row;
}
}

.leaflet-container {
  width: 85vw;
  height: 85vh;
}


.footer {
background: #F8F8F8;
min-height: 80px;
margin-right: 0;
padding-right: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
/* position: fixed; */
left: 0;
bottom: 0;
width: 100%;
text-align: center;
  
}

.map {
  display: flex;
  margin: 10px
}

.card {
  color: #807676;
  padding: 0.5em;

}

.description {
  color: #859c8c;
  font-size: 28px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dataName {
  color: #393b3a;
  font-family:'Courier New', Courier, monospace
}

.formCreate {
  color: #626664;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration:dashed;
}